.big-navbar{
}
.nav-link{
    font-size: 20px;
    color: whitesmoke;

}
.head-nav{
    font-size: 40px;
    color: whitesmoke;

}
.navbar-head{
    position: fixed;
    top: 0px;
    padding: 20px;
    background: #3336;
    z-index: 999;
}