/* .profile{
    position: absolute;
    top: 40%;
    z-index: 99;
    left:45%;
    background: rgba(145, 155, 168, 0.623);
    padding: 20px;
    color: #333;
}
.img-profile{
    width:150px;
    height: 150px;
    background: url(../../../assets/img/imgprofile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.bt-Hire{
    position: absolute;
    bottom: 200px;
    font-size: 50px;
    color: #333;
    padding: 25px;
    background: #ddd7;
    border-radius: 25px;
    margin-left: -100px;
}
.bg-opacity{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: #ddd1;
} */

.circle{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,50%);
    background: transparent;
    border: 3px solid #3c3c3c;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);

}
.circle:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right:3px solid #fff000;
    animation: anim 2s linear infinite;
    animation-delay: 1s;

}
.test{
    background: #eee;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
}

/* @keyframes fadeinCircle{
    0%{margin-top: 10px;opacity: 0;}
    80%{margin-top: -5px}
    100%{margin-top: 0px;opacity: 1;}
} */
@keyframes anim{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}
